prophet==1.1.5
pandas>=2.0
numpy>=1.24
scikit-learn>=1.3
fastapi>=0.110
uvicorn[standard]>=0.27
joblib>=1.3
tqdm>=4.66
requests>=2.31
google-generativeai
python-dotenv
plotly>=5.18.0
streamlit>=1.30.0
